<!-- your html code here -->
<div class="bg-info" "bs-border: 500px;">
    <div class="row">

        <h1 class="col-sm-8">This First Heading, Wil Catch Your Eye</h1>
    </h1>
    <div class="col-sm-4">
        <img src="https://tse1.mm.bing.net/th/id/OIP.TQ4kkaFTqejdBmZslnzltwHaEo?pid=Api&P=0&h=180" class="rounded" alt="...">
    </div>
    <p class="col-sm-8">Doner ullamcorper nulla non metus auctor fringilla.
         Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur.
         Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
        
    </div>

    </div>
</div>