<!-- your html code here -->
<div class="container-fluid" style="width: 90%">
    <div class="aling-content-md-center d-flex">
        <div>
            <img src="https://imagenes.elpais.com/resizer/v2/VAVX2IYYABNPBH2SZC4E4ZFABM.jpg?auth=093aec7c7467533859d7b6b16c560d9677e2f4f11278a60b1d9766c79ac2e30f&width=1200"
                style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%;" alt="...">
        </div>
        <div>
            <div >
                <span class="me-1" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif; font-size: 22px; font-weight: 800; color: #3a3a3a">The Second Heading</span>
                <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 22px; font-weight: 700; Color: #555">Is Pretty Cool Too.</span>
            </div>

            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat</div>


        </div>
    </div>
</div>