<header class="d-flex justify-content-center align-items-center text-center"
        style="background-image: url('https://img.freepik.com/foto-gratis/gran-ciudad_1127-3102.jpg?semt=ais_hybrid&w=740&q=80'); 
               background-size: cover; 
               background-position: center; 
               background-repeat: no-repeat; 
               padding: 60px 10px;">

  <div>
    <h1 class="fw-bold display-1 bg-white w-100 px-4 py-3 d-inline-block">
      One Page Wonder
    </h1>

    <h2 class="fw-semibold display-4 bg-white w-100 px-4 py-3 d-inline-block mt-3">
      Will Knock Your Socks Off
    </h2>
  </div>

</header>
